{% extends 'menu.html' %}
{% block status %}
    <style>
        #gapanalysis {
            font-family: Geneva;
            font-size:0.75em;
          }
        #eureka {
            font-family: Geneva;
            font-size:0.75em;
          }

        #status, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            width: 75%;
            font-family: "Lucida Console", "Courier New", Geneva;
            font-size: 1em;
            }

        thead{
            background-color: #5DADE2;
            font-weight: bold;
            }

        tr:nth-child(even) {
                              background-color: #B9DCF3;
                            }

        .container {
              padding-top: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
            }
    </style>
    <div class='container' style="">
        <p>{{constants['env']}} regression execution status:</p>
        <table class="table" id="status">
            <thead>
                <td>Component</td>
                <td>Status</td>
            </thead>
        <tr>
            {% block constants%}
            <td> {{constants['env']}}  Regression</td>
            <td><a href="{{constants['regression_job_link']}}" target="_blank"><!--http://jenkins.shn.io/job/tp-automation-batch-py3/-->
                <img src="{{constants['regression_job_img']}}"><!--http://jenkins.shn.io/buildStatus/icon?job=tp-automation-batch-py3-->
                </a>
            </td>
            {% endblock %}
        </tr>
<!--
        {% for key, value in result.items() %}
        <tr>
            <td>{{key}}</td>
            {%- if value in ['OK', 'Up', 'Success']-%}
                <td><font color="green">{{value}}</font></td>
            {% else %}
                <td bgcolor=#E25D77 font-weight="bold"><font color="black">{{value}}</font></td>
            {%- endif -%}

        </tr>
        {% endfor %}
-->
        {% for key, value in result.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <div class='container'>
        <label>{{constants['env']}} TP pipeline recent rundate status: </label>
        <table id="gapanalysis" border="1">
        {{tp_analysis_table | safe}}</table>
    </div>
    <div class='container'>
        <a href="{{constants['tp_gap_analysis']}}" target="_blank"> Go to {{constants['env']}} gap analysis full page</a>
    </div>
    <div class='container'>
        <label>{{constants['env']}} DP pipeline recent rundate status: </label>
        <table id="gapanalysis" border="1">
        {{dp_analysis_table | safe}}</table>
    </div>
    <div>
        <a href="{{constants['dp_gap_analysis']}}" target="_blank"> Go to {{constants['env']}} gap analysis full page</a>
    </div>

    <div class='container'>
        <label>{{constants['env']}} Eureka page status: </label>
        <table id="eureka" border="1">{{eureka_rows | safe}}</table>
    </div>
    <div>
        <a href="{{constants['eureka_link']}}" target="_blank"> Go to {{constants['env']}} Eureka full page</a>
    </div>
{% endblock status%}